@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: url('blankbackground.png') center/cover no-repeat fixed;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  list-style: none;
  margin-left: 20px;
}

header nav ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header nav ul li a:hover,
header nav ul li a.active4 {
  background: #fff;
  color: #2b1055;
}

section#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('blankbackground.png') center/cover no-repeat fixed;
  height: 100vh;
  margin: 0;
}

.gallery-item {
  width: 48%;
  margin: 0 1%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.image-container {
  display: flex;
  margin-top: 5%;
}

.image-box {
  width: 48%;
  overflow: hidden;
  margin: 0 1%;
  position: relative; /* Ensure relative positioning for absolute positioning of captions */
}

.portfolio-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.image-box p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for better readability */
  color: #fff;
  padding: 10px;
  margin: 0;
}
